body{
    text-align: center;
    background-color: gray
}
form{
   scale: 150%;
    margin-bottom: 10%;
}
h2{
    text-align: center;
    color:salmon;
    scale: 350%;
    margin: 4%;
    background-color: beige;
    background-blend-mode: darken;
}

p{
    color:#db9d4b;
    scale: 100%;
    margin-left: 2%;
    margin-right: 25%;
    text-align: left;
    font-size: 125%;
    text-decoration-style: bold;
}

div.repoNames{
    margin: 10%;
    scale: 200%;
}

div.list{
    scale: 70%;
    margin-left: 20%;
    margin-right: 20%;
}

div.holder{
     background-color:beige;
     margin-left: 20%;
     margin-right: 20%;
}

div.holder:hover{
    background-color: white;
}


button{
    color: salmon;
    background-color: beige;
}

button.checkin{
    scale: 150%
}

form.Label{
  background-color:  salmon;
}
div.Actions{
    float: left;
    margin-left: 10%;
}
div.Actions1{
    float: left;
    margin-left: 10%;
}